<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

<body>
        <%- include('partials/navbar') %>
        <h1>Aanmelden</h1>
        <form action="#">
                <label>Gebruikersnaam<input type="string" name="username" id=""></label>
                <label>Email<input type="email" name="email" id=""></label>
                <label>Wachtwoord<input type="password" name="password" id=""></label>
                <button>Aanmelden</button>
                <a href="/login">Inloggen</a>
        </form>
        <%- include('partials/footer') %>
</body>

</html>