body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* Css navigation bar */
nav a{
  color: black;
  text-decoration: none;
}

nav ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

nav ul li{
  list-style: none;
}

/* Css footer bar */
footer {
  position:absolute;
   bottom:0;
   height:60px;   /* Height of the footer */
}

form{
  display: flex;
  flex-direction: column;
}